*{
	padding:0;
	margin:0 auto;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration: none;
}
html{
	background-color: yellow;
}
.white{
	top:0px;
	/*改*/
	margin: 0 auto;
	height: 1000px;
	width: 100%;
	background-color: blue;
	position: relative;
}
.one{
	margin: 0 auto;
	width: 1519px;
	height: 138px;
	background-color: #ffffff;
}
/*.full-container{
	top:200px;
	left: 0px;
	height: 50px;
	width: 50px;
	background-color: green;
	position: relative;
}*/
