*{
	padding:0;
	margin:0 auto;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration: none;
}
html{
	background-color: yellow;
}
.white{
	top:0px;
	/*改*/
	margin: 0 auto;
	height: 100%;
	width: 100%;
	background-color: white;
	position: relative;
}
.one{
	margin: 0 auto;
	width: 1519px;
	height: 1500px;
	background-color: #ffffff;
}
.qwer{
	position: relative;
	top:-350px;
	left:1100px;
	opacity: 1;
}
.qwer:hover{
	position: relative;
	top:-350px;
	left:1100px;
	opacity: 0.5;
}
.full-container{
	top:1000px;
	left: 1000px;
	height: 100px;
	width: 100px;
	background-color: white;
	position: relative;
}
.button{ 
    padding:70px;  
    color: #428bca; 
    text-align: center; 
    vertical-align: middle;  
    font-weight: 900; 
    font-size:400% 
}
.button{
    background: #c1b5fb;
    border: none;
    border-radius: 50%;
    width: 400px;
    height: 200px;
     
}
/*.twotwoone{
	width: 800px;
	height: 361px;
	position: relative;
	background-color: yellow;
}*/
.box{
	margin: 0 auto;
	width: 1519px;
	height: 949px;
	/*margin: 3px auto;*/
	/*................*/
	position: relative;
	overflow: hidden;
	top:-120px;
	background-color: green;
}
.slider{
	width: 12152px;
	position: absolute;
	left: -1519px;
}
.slide{
	width: 1519px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 60px;
	height: 60px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	/*background: rgb(255,0,0);*/
	font-size: 30px;
	position: absolute;
	/* display: none; */
	opacity: 0;
	overflow: hidden;
}
#right img{
	position: relative;
	top:-60px;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 320px;
	bottom: 20px;
}
/*.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #efeeec;
	cursor: pointer;
	margin: 0 3px;
	border-radius: 50%;
	text-align: center;
}*/
/*.nav .active{
	background: red;
}*/
#qwertyu{
	position: relative;
	top: 240px;
	left: 700px;
	font-size: 30px;
	border-color: blue;
	height: 80px;
	border-radius: 30px;
	background-color: yellow;
}
#qwertyuq{
	position: relative;
	top: -500px;
	left: 100px;
	font-size: 20px;
	color: blue;

}
#asd{
	border-width: 2px;
	border-color: green;
}